body{
background-color:black;
}

p{
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}


li{
  color: white;

}

h1, h2, h3 {
  text-align: center;
  background-color: darkred; color: White;font-size: 30px
border: 1px black solid;
  border-top: 3px white dashed;
    border-radius: 3px;
}
